{
    attributes = (
        {allowsNull = N; name = id; prototypeName = id; }, 
        {
            allowsNull = Y; 
            columnName = passwordHash; 
            name = passwordHash; 
            prototypeName = varchar100; 
            width = 200; 
        }
    ); 
    attributesUsedForLocking = (passwordHash); 
    className = "com.kaviju.accesscontrol.model.KAUser"; 
    classProperties = (passwordHash, profiles); 
    fetchSpecificationDictionary = {}; 
    isAbstractEntity = Y; 
    name = KAUser; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            deleteRule = EODeleteRuleCascade; 
            destination = KAUserProfile; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = userID; sourceAttribute = id; }); 
            name = profiles; 
        }
    ); 
}
