<wo:AjaxUpdateContainer id="$updateContainerId">
	<wo:AjaxObserveField updateContainerID = "$updateContainerId" action = "$autosave">
		<label class = "roleLabel" style = "display:inline-block;vertical-align: top;">
			<wo:checkbox checked = "$roleChecked" disabled = "$roleDisabled"/>
			<wo:string value = "$role.localizedName"/>
		</label>
	</wo:AjaxObserveField>
	<wo:if condition = "$displayItemList">
		<div style = "display:inline-block;">
			<wo:repeat list = "$currentItems" item = "$item">
				<span class = "permissionItem"><wo:string value = "$item.name"/> <wo:AjaxSubmitButton action = "$deleteItem" value="$removeItemLabel"/><br/></span>
			</wo:repeat>
			<wo:AjaxObserveField fullSubmit = "YES" action = "$addItem" style = "display:inline-block;">
				<wo:popUpButton list = "$items" item = "$item" displayString = "$item.name" selection = "$selectedItem" noSelectionString = "$addItemLabel"/>
			</wo:AjaxObserveField>
		</div>
	</wo:if>
</wo:AjaxUpdateContainer>